*, *::before, *::after {
box-sizing: border-box;
}

body {
  font-family: 'Futura Book';
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.button {
  border-radius: 2px;
  border: none;
  font-family: 'Futura Demi';
  text-transform: uppercase;
  color: $light;

  &_primary {
    box-shadow: 0px 5px 15px rgba($primary, 0.2);
    background-color: $primary;
  }

  &_outline {
    border: solid 1px $light;
    background-color: transparent;
  }
}


